.controls {
  margin-bottom: 1rem;

  * {
    display: inline-block;
  }

  label {
    font-size: 1rem;
    margin-bottom: .4rem;
    font-weight: bold;
  }

  input {
    width: 100%;
    font-size: 1rem;
    padding: .8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all .2s;
  }

  input:focus,
  input:hover {
    outline: none;
    border-color: var(--btn-c1);
    box-shadow: 0 0 0 3px var(--btn-c3);
  }

  p {
    margin-top: .2rem;
    font-size: .875rem;
    color: var(--error);
  }
}